:root{
    --primary: #605dff;
    --our-purple-colour: #A020F0;
    --secondary: #e9e9e9;
    --logo-height: 40px;
    --white-color: #fff
}


body{
    background-color: var(--our-purple-colour);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 30px;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo > img {
    height: var(--logo-height);
    width: var(--logo-height);
}
.welcome-text {
    text-align: center;
}
.header-text{
    margin-top: -10px;
}
.welcome-text > h4
{
    font: bold 18px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form{
    display: flex;
    flex-direction: column;
    /* justify-content: start; */
    width: 100%;
    max-width: 32em;
    padding: 20px 30px;
    background-color: var(--white-color);
    gap: 16px;
    border-radius: 10px;
    height: fit-content;
}
.form-input-group{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.form-input{
    outline: 0px;
    border: 0px;
    border-bottom: 1px solid;
    width: 500px;
    padding: 3px;
}
.form-input:focus {
    outline: none;
    border-color: var(--our-purple-colour);
}
.form-input:focus + .icon {
    border-color: var(--our-purple-colour);
}
.input-icon-group{
    position: relative;
    display: inline-block;
}

.form-button{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    border-radius: 99px;
    height: 2em;
}

.custom-btn{
    background-color: var(--primary);
    color: var(--white-color);
}

.social-btn{
    background-color: var(--secondary);
}

.input-icon-group i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.form-button > button{
    margin-bottom: 10px;
}
.my-form > p {
    margin-top: 30px;
}
.form-action{
    display: flex;
    flex-direction: column;
    align-self: center;
}
.form-action-row{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
