.click-button{
    background-color:red;
    color: white;
    width: 110px;
    border-radius: 20px;
    margin-bottom: 8px;
    transition: opacity 0.15s; 
}
.click-button:hover{
     opacity: 0.5;
    }
.click-button:active{
    opacity: 0.1;
}
.bukky-button{
    background-color: blue;
    color: red;
    width: 110px;
    border-radius: 4px;
    margin-right: 5px;
}
.bukky-button:hover{
    background-color: aqua;
}
.bukky-button:active{
    background-color: blanchedalmond;
}
.chocolate-button{
    background-color: brown;
    color: bisque;
    width: 120px;
    border-radius: 10px;
}
.chocolate-button:hover{
    color: coral;
}
.chocolate-button:active{
    background-color: darkblue;
}
.general-button{
    border: none;
    height: 40px;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
}
.paragraph{
    background-color: wheat;
    color: purple;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.hello{
    background-color: white;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.amazon{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.nike{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
}
.stock{
    color: rgb(0, 118, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}
.delivery{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
}
.add-button{
    background-color: rgb(255, 216, 20);
    color: black;
    width: 150px;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    transition: opacity 0.19s;
}
.add-button:hover{
    opacity: 0.3
}

.buy-button{
    background-color: #ffa41c;
    color: black;
    width: 170px;
    border-radius: 20px;
    margin-right: 5px;
    box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.18);
    transition: opacity 0.20s;
   }
   .buy-button:hover{
    opacity: 0.5;
   }

