.Click-button{
    background-color:red;
    color: white;
    border: none;
    height: 40px;
    width: 110px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 8px;
    font-size: medium;
    font-weight: bold;
}
.Bukky-button{
    background-color: blue;
    color: red;
    width: 110px;
    border-radius: 4px;
    margin-right: 5px;
}
.Chocolate-button{
    background-color: brown;
    color: bisque;
    width: 120px;
    border-radius: 10px;
    
}
.general-button{
    border: none;
    height: 40px;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;

}
.paragraph{
    background-color: wheat;
    color: purple;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.hello{
    background-color: white;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.amazon{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.nike{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
}
.stock{
    color: rgb(0, 118, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}
.delivery{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
}
.add-button{
    background-color: rgb(255, 216, 20);
    color: black;
    width: 150px;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 5px;
}
.buy-button{
    background-color: rgb(255, 164, 28);
    color: black;
    width: 170px;
    border-radius: 20px;
    margin-right: 5px;
   
}

